<?xml version="1.0"?>
<config>
	<modules>
		<Scriptkid_Categoryfilternav>
			<version>0.1.0</version>
		</Scriptkid_Categoryfilternav>
	</modules>
	<global>
		<helpers>
			<categoryfilternav>
				<class>Scriptkid_Categoryfilternav_Helper</class>
			</categoryfilternav>
		</helpers>
		<models>
			<categoryfilternav>
				<class>Scriptkid_Categoryfilternav_Model</class>
				<resourceModel>categoryfilternav_mysql4</resourceModel>
			</categoryfilternav>
		</models>
		<resources>
			<categoryfilternav_setup>
				<setup>
					<module>Scriptkid_Categoryfilternav</module>
					<class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</categoryfilternav_setup>
			<categoryfilternav_write>
				<connection>
					<use>core_write</use>
				</connection>
			</categoryfilternav_write>
			<categoryfilternav_read>
				<connection>
					<use>core_read</use>
				</connection>
			</categoryfilternav_read>
		</resources>
	</global>
</config> 